@font-face {
    font-family: 'Gilroy-Bold';
    font-weight: 600;
    font-style: normal;
    src: url("fonts/Gilroy-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Gilroy-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Gilroy-Regular.woff2") format('woff2');
}

*{
    padding: 0;
    margin: 0;
}
.bb {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}
.header {
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container {
    margin: 0 auto;
    width: 1170px;
}

.img_header {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.ul_menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    gap: 1rem;
}

.li_menu {
    display: inline;
}

.a_menu {
    text-decoration: none;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    padding-top: 3px;
    padding-left: 3px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.block1 {
    display: grid;
    grid-template-rows: 1fr;
}

.block2 {
    display: flex;
    margin: 2px;
}
.p1 {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    text-align: start;
}
.p2 {
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #888;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: normal;
}
.btn {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.button_class {
    display: inline-block;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    margin-right: 10px;
}

.catalog {
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    gap: 30px;
}

.item {
    display: grid;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 15px;
    margin: 30px;
    background: url(/transition.png) 0 0 no-repeat;
    transition: background 1.0s ease;
}

.item:hover {
    background: rgb(107, 231, 204);
    color: rgb(5, 5, 5);
}

.item h3 {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: normal;
}

.item p {
    color: #666;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
}

.item a {
    text-decoration: none;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    line-height: 150%;
}

.item img {
    width: 70px;
    height: 70px;

}


.ff {
    height: 243px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 48px;
}